@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body {
    background-image: url("illustration-rock-concert-band-is-playing-stage-crowd-is-excited-is-raising-their-hands-air_14117-450182.jpg");
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    background-attachment: fixed;  
}
#nav{
    height: 70px;
    background-color:transparent;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 5px;
    width: 40px;
    margin-right: 20px;
}
.login_register{
    margin-right: 10px;
    display: flex;
    align-items: center;
    width: 230px;
}
#login{
    margin-right: 5px;
    background-color: transparent;
    border: none;
    
}
.nav_btn{
    height: 40px;
    width: 100px;
    box-sizing : border-box;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 600;

}

#register{
    background-color: gold;
    border: none;
    border-radius: 20px;
    font-weight: 500;
}
.nav_options{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}
.nav_options a{
    font-family: "Bitcount Prop Single", system-ui;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 2px;
}
.small_screen_btn{
    display: flex;
    height: 70px;
    width: 70px;
    background-color: transparent;
    border: none;
    align-items: center;
    display: none;
}
.small_screen_btn button{
    background-color: transparent;
    height: 35px;
    width: 35px;
    border: 1px solid black;
    background-color: rgba(54, 50, 50, 0.779);
    border-radius: 6px;
}
.small_screen_btn button i{
    font-size: 1rem;
    color: white;
}

@media screen and (max-width: 859px){
    .nav_options{
        display: none;
    }
    .nav_btn{
        display: none;
    }
    .small_screen_btn{
        display: flex;
    }
}


#menuBtn {
    padding: 10px 15px;
    cursor: pointer;
}

.popup {
    
    display: none;   
    position: absolute;
    margin-top: 8px;
    background-color: rgba(0, 0, 0, 0.922);
    border:none;
    height: 70%;
    width: 80%;
    margin-left: 10%;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 10px;
    
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.popup a {
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 1.3rem;
    display: block;
    text-decoration: none;
    color: white;
    padding: 6px 0;
    margin-bottom: 20px;
}

.popup a:hover {
    background-color: rgba(30, 30, 30, 0.922);
}

.login {
    border-top: 1px solid rgba(128, 128, 128, 0.639);
    margin-top: 10px;
    display: flex;
    flex-direction: column; 
}

.login button { 
    font-size: 1.3rem;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    
    text-align: start;
}
.login button:first-child{
    font-family: "Bitcount Prop Single", system-ui;
}
.login #register{
    width: 95%;
    height: 40px;
    padding-left: 20px;
    text-align: center;
}
